.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
    margin-top: 5px;
}

/* Shared content style */
.slide_contant,
.slide_contant-1 {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 15px;
    border-radius: 8px;
    background: rgba(0,0,0,0.3);
}

/* Text */
.slide_contant p,
.slide_contant-1 p {
    color: #22d3ee;
    margin-left: 5px;
    font-size: 25px;
}

.slide_contant h1,
.slide_contant-1 h1 {
    color: #22d3ee;
    font-size: 40px;
    margin-left: 5px;
}

/* Button (ul as button) */
.slide_contant ul,
.slide_contant-1 ul {
    background-color: #22d3ee;
    list-style: none;
    width: 200px;
    margin-left: 30px;
    padding: 12px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.slide_contant ul li a,
.slide_contant-1 ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center;
    font-weight: bold;
}

/* Hover effect */
.slide_contant ul:hover,
.slide_contant-1 ul:hover {
    background-color: aliceblue;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* Hover slide → content reacts */
.swiper-slide:hover .slide_contant,
.swiper-slide:hover .slide_contant-1 {
    transform: translateY(-50%) scale(1.03);
    transition: 0.3s;
}
/* Find a Doctor Section */
.find-doctor {
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    margin-top: -50px; /* overlaps slightly with slider */
    position: relative;
    z-index: 10;
}

.find-doctor .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.find-doctor .tabs {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
}

.find-doctor .tab {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    color: #065f72;
}

.find-doctor .tab.active,
.find-doctor .tab:hover {
    border-bottom: 2px solid #065f72;
}

.find-doctor .form {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.find-doctor select {
    padding: 12px 20px;
    border: 1px solid #22d3ee;
    border-radius: 50px;
    outline: none;
    min-width: 200px;
}

.find-doctor button {
    background: #22d3ee;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    
}

.btn-find-doctor:hover {
    background: #065f72;
    color: #fff;
    
}
.btn-find-doctor ul{
    list-style: none;
    margin-right: 40px;

    

}
.btn-find-doctor ul li a{
        text-decoration: none;
        
       
}
