.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
    margin-top: 5px;
}
.swiper-slide {
    position: relative;
}

.slide_contant {
    position: absolute;   /* overlay on the image */
    top: 50%;             /* vertical center */
    left: 50px;           /* horizontal position */
    transform: translateY(-50%);
    color: #0e0d0d;          /* text color */
}
