.page-hero {
  position: relative;
  height: 320px;
  background-image: url('https://e0.pxfuel.com/wallpapers/816/574/desktop-wallpaper-medical-doctor-medicine.jpg'); /* Replace with your banner */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.page-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.page-hero-content {
  position: relative;
  color: #fff;
  padding-left: 80px;
  z-index: 2;
}

.page-hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: rgba(46, 139, 122, 0.9);
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb .current {
  font-weight: 600;
}

.slash {
  opacity: 0.7;
}

.home-icon {
  font-size: 16px;
}

.text-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 10px;
}

.text-container p{
    font-size: 22px;
    line-height: 1.8;
    color: #333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.img-section {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-section img {
  max-width: 86%;
  height: 70%;
  border-radius: 15px;
}

:root {
    --primary-teal: #0096a3;
    --bg-grey: #f4f4f4;
    --text-grey: #666;
}

.form-container {
    max-width: 87%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: var(--bg-grey);
    font-size: 14px;
}

textarea {
    border-radius: 15px;
    resize: vertical;
}


#submitBtn {
    margin-top: 20px;
    background-color: var(--primary-teal);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#submitBtn:hover {
    background-color: #007a85; /* A slightly darker teal */
    transform: translateY(-2px); /* Lifts the button slightly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    transition: all 0.3s ease; /* Makes the change smooth */
}
#submitBtn:active {
    transform: translateY(0); /* Pushes it back down on click */
    background-color: #005f68;
}

.captcha-text {
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
}

.form-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.form-container p{
    
    color: #0b5a6f;
    margin-bottom: 15px;
}